%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Content:
  = @post.content

  %p
    %b Comments:
    - @comments.each do |comment|
      =comment.content

  =form_for @comment, url: post_path([@post, @comment]), method: :patch do |f|
    =f.text_field :content
    =f.submit 'Comment'
